div {
    background-color: hotpink !important;
}
p {
    color: #39ff14 !important;
}
span {
    color: #bc13fe !important;
}
a {
    color: #faed27 !important;
}
button {
    background-color: #00FFFF !important
}